.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  text-align: center;
  padding: var(--spacing-lg);

  & .errorContent {
    max-width: 600px;
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-lg);
  }

  & .errorTitle {
    margin-bottom: var(--spacing-md);
  }

  & .errorMessage:last-child {
    padding: 0 var(--spacing-md);
  }

  & .actionBtns {
    justify-content: center;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);

    & button {
      font-size: var(--font-size-base);
      color: var(--btn-color);
      text-decoration: underline;

      &:hover {
        color: var(--btn-hover-color);
      }
    }
  }
}
