.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-bg-color);
  padding: var(--spacing-md) calc(100% - 1320px);
  gap: var(--spacing-lg);
  z-index: 99;

  & .logo img {
    width: 11rem;
    object-fit: cover;
  }

  & nav {
    gap: var(--spacing-md);

    & .navLinkActive {
      color: white;
    }
  }

  & .actionBox {
    gap: var(--spacing-lg);
    margin-left: auto;

    & .searchBar {
      gap: var(--spacing-sm);

      & input {
        margin: 0;
        background-color: transparent;
        border: none;
        outline: none;
      }

      & svg {
        font-size: 2.4rem;
      }
    }

    & .users {
      width: 3.2rem;
      height: 3.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;
      transition: all 0.3s ease;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .users:active {
      transform: scale(0.5);
    }
  }
}

/* Media query for screens with width less than 768px */
@media (max-width: 768px) {
  .header nav {
    display: none;
  }
}
